.blank-state-parent-container {
  .section-container {
    padding: 10px;
  }

  .section-body {
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
    border-radius: $border-radius-default;
  }
}

.blank-state-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blank-state-welcome {
  text-align: center;
  padding: $gl-padding 0 ($gl-padding * 2);

  .blank-state-welcome-title {
    font-size: 24px;
  }

  .blank-state-text {
    margin-bottom: 0;
  }
}

.blank-state-link {
  color: $gl-text-color;
  margin-bottom: 15px;

  &:hover {
    // background-color: $gray-light;
    background-color: rgba($oc_bg_blue, 0.8);
    text-decoration: none;
    color: $gl-text-color;
  }
}

.blank-state-center {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.blank-state {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  border: 1px solid $border-color;
  border-radius: $border-radius-default;
  min-height: 240px;
  margin-bottom: $gl-padding;
  width: calc(50% - #{$gl-padding-8});
  background-color: $oc_bg_blue;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.6);

  @include media-breakpoint-down(sm) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;

    .column-small & {
      width: 100%;
    }

  }
}

.blank-state,
.blank-state-center {
  .blank-state-icon {
    svg {
      display: block;
      margin: auto;
    }
  }

  .blank-state-title {
    margin-top: 0;
    font-size: 18px;
  }

  .blank-state-body {
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-top: 20px;
    }

    @include media-breakpoint-up(sm) {
      padding-left: 20px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .column-large {
    flex: 2;
  }

  .column-small {
    flex: 1;
    margin-bottom: 15px;

    .blank-state {
      max-width: 400px;
      flex-wrap: wrap;
      margin-left: 15px;
    }

    .blank-state-icon {
      margin-bottom: 30px;
    }
  }
}

.experiment-new-project-page-blank-state {
  @include media-breakpoint-down(md) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .blank-state-icon {
    min-width: 215px;
  }
}

$experiment-new-project-indigo-700: #41419f;

.experiment-new-project-page-blank-state-title {
  color: $experiment-new-project-indigo-700;
}
